@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --blue:#4ea1e6;
    --primary: #2dcc70;
    --grey: #6b6b6b;
    --background-color: #e9eef4;

}
*::selection{
    background: var(--blue);    
    color: #000;
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;

}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section#about, section.project, section.resources {
    padding: 4rem 0;
}

.navbar-bg-color{
    background: var(--background-color);
    padding: 1rem 0;

}
.navbar-nav {
    gap: 1rem;
}
.navbar {
    padding: 1.5rem 1rem;
}

#active{
    color: var(--primary);
    font-weight: bold;
}
nav .container ul li.active, nav-link-color {
background-color: #3b49df;
border-radius:30px;
transition: 0.3s;
}
nav .container ul li.active a {
color: #ffffff;
}

/*.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:var(--primary);
}*/

/*new added nav bottom effect*/
header .nav-item {
    position: relative;
}
header .nav-item:hover .nav-link:after,header .nav-item #active:after {
    transform: scaleX(1);
    transform-origin: left center;
}
header .nav-link:after,header #active:after {
    content: ' ';
    position: absolute;
    background: linear-gradient(to right, #60ffec, #ffa560) fixed !important;
    top: 100%;
    margin-top: 4px;
    border-radius: 3px;
    left: 0%;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.2s;
    transform-origin: right center;
    box-sizing: border-box;
    display: block;
}
header .nav-link:after,header #active:after {
    background: var(--primary) !important;
}

header .logo img {
    height: 2.1rem;
}

.header #menu{
    display: none;
}
header .navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}
.navbar-toggler {
    padding: 0;
}
.fixed-top{
    background-color: #e9eef4;
    box-shadow: 0px 10px 10px -10px #11111185;
}
header.navbar-bg-color {
    padding-bottom: 5rem;
}


.home {
    background-color: var(--background-color);
    overflow: hidden;
    padding-block: 3rem;
}

.home div.content h1{
    font-size: 3.7rem;
}

.home .content span{
    color: var(--primary);
    
}


.btn-outline-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #ffffff;
    
}

.btn-outline-primary:hover {
    background-color: #44d17f;
    border-color: #44d17f;
}



#about p{
    line-height: 2;
}

.about .content ul{
    list-style-image: url("../img/list-style-image2.png");
    list-style-position: inside;
    line-height: 2;
    
}

.about img.img-fluid {
    box-shadow: 0 0 0 0.2rem rgb(49 224 127 / 22%);
}

#list-swd-list, #list-ax-list, #list-tito-list, #list-jerico-list{
    border-color: transparent;
    border-left-color: var(--primary);
    border-left: .3rem solid;
}
/*#list-profile-list {
    border-left: .3rem solid #00000080;
}*/
.list-group-item.active {
    color: var(--primary);
    background-color: #0096201c;
    border-color: transparent;
}

.list-group-item.list-group-item.active {
    border-color: transparent;
    border-left-color: var(--primary) !important;
    font-weight: bold;
}

.list-group-item:hover {
    color: var(--primary);
    background-color: #0096201c;
    border-color: transparent;
}


.experience #list-swd h2{
    font-size: 1.7rem;
}

.experience #list-profile h2{
    font-size: 1.7rem;
}

/*.experience #list-ax .exp-company, .experience #list-swd .exp-company {*/
.exp-company {
    color: var(--primary);
}
.experience #list-profile .exp-company{
    color: var(--primary);
}

.experience .date{
    color: #212529;
}

.experience ul{
    list-style-image: url("../img/list-style-image2.png");
    list-style-position: outside;
    padding-left: 1.1rem;
    line-height: 2;
    
}


.experience ul li{
    position: relative;
    padding-left: 1.1rem;
    
}


#projects img.img-fluid {
    box-shadow: 0 0 0 0.2rem rgb(49 224 127 / 22%);
}

#projects .container .row h2{
    color: var(--primary);
}

#projects ul {
    list-style-image: url(../img/list-style-image2.png);
    list-style-position: outside;
    padding-left: 1.1rem;
    line-height: 2;
}

/*.direct-link{
    color: #000;
    font-size: 1rem;  
}

.direct-link:hover{
    color: var(--primary);
}*/



.resources-logo .logo {
    margin: 2.5rem .9rem;
}

.resources-logo .logo img {
    width: 80%;
    filter: grayscale(100);
}

.resources-logo .logo img:hover {
    filter: grayscale(0);
}



i.far.fa-envelope {
    font-size: 1.2rem;
}

.icon-spacing {
    padding-right: 1rem;
}

.contact .logo img {
    width: 200px;
}

.contact form {
    padding: 1rem;
    padding-block: 2rem;
    /* border: 1px solid black; */
    /* box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3); */
    background: #fdfdfd;
    border-radius: 5px;
    border-top: 1px solid #efefef;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--primary);
}

.contact .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(49 224 127 / 22%);
}

.contact .asa {
    padding-bottom: 3rem;
}

.contact .asa a{
    color: #000;
}
.contact .asa #active{
    color: var(--primary);
    font-weight: bolder;
}

.contact .asa .nav-link:hover {
    color:var(--primary);
}

.contact p {
    line-height: 2;
}


.contact .asa .nav-link {
    padding-left: inherit;
    padding-right: 3rem;
}


#my-form-status{
	text-align:center;
    padding: 10px;
    border-radius: 1rem;
}


#my-form-status.success{
	background-color: rgb(29 230 100 / 30%);
    border-color: #c3e6cb;
	color: #000;
	animation: my-form-status 4s ease forwards;
}

#my-form-status.error{
	background-color: #f8d7da;
    border-color: #f5c6cb;
	color: #000;
	animation: my-form-status 4s ease forwards;
}
@keyframes my-form-status {
	0%{
        opacity: 1;
        pointer-events: all;
    }
	90%{
        opacity: 1;
        pointer-events: all;
    }
	100%{
        opacity: 0;
        pointer-events: none;
    }
	
}


.back-to-top{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px; 
    right: 15px; 
    position:fixed; 
    /* visibility: hidden;
    opacity: 0; */
    width: 44px;
    height: 44px;
    background: #2dcc7063;;
    color: #2c5f98;
    border-radius: .5rem;
    transition: .3s;
    z-index: 11;
}
.back-to-top:hover{
    text-decoration: none;
}

section#resume div {
    position: relative;
    margin-top: 1.3rem;
    margin-bottom: 2rem;
}

.resume-shadow{
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
}

/*media query*/
@media (max-width: 991px){

    section#about, section.project, section.resources {
    padding: 2rem 0;
    }


    .navbar-bg-color {
    padding-bottom: 4rem;
    }

    .navbar-collapse {
    align-items: center;
    display: flex;
    align-items: end;
    justify-content: end;
    }
    .navbar-nav {
    display: inline-block;
    }
    .nav-link {
    padding: 0.5rem 1rem 0;
    }
}





.finished-projects span.percent-value::before {
    content: '+';
}
.finished-projects span.percent-value::after {
    content: 'K';
}


.dnxte-tstimonial-item-prfle {
    flex-direction: column;
}


.testimonial-section .stm_testimonials_style_15 .owl-controls .owl-nav .owl-next:hover:before, .testimonial-section .stm_testimonials_style_15 .owl-controls .owl-nav .owl-prev:hover:before {
    color: #ffffff;
}
.testimonial-section .dnxte_testimonial_parent_0 .swiper-button-prev:hover, .testimonial-section .dnxte_testimonial_parent_0 .swiper-button-next:hover {
    color: #ffffff !important;
    background-color: #f47957 !important;
    border-color: #f47957 !important;
}

.testimonial-sectio .dnxte-tstimonial-prfle-review img {
    border: 8px solid #ffffff;
    border-radius: 50%;
}


.custom-button-transition {
    transition: all 0.25s ease;
}
.custom-button-transition:hover {
    transform: translateY(-10px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.header__sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.3s ease-in-out;
}

not yet inserted
.custom-mobile-header .et_pb_column {
    margin-bottom: 0;
}
.custom-mobile-header .et_pb_column .et_pb_image .et_pb_image_wrap {
    float: left;
}
.et_pb_menu--style-centered .et_pb_menu__wrap {
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}
section.footer {
    padding: 20px;
    background: #0D0D0D;
}
section.footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
section.footer .row span, section.footer .row span a {
    color: #ffffff !important;
}
